/**
src\pages\components\Pay\style.scss
*/
.pay{
    > section {
        text-align: center;
        padding: 50px 0;
    }
    .register_form {
        border: 0;
        background: none;
        a.btn.btn-ghost.text-xl {
            background: none;
            padding: 0;
            font-size: 2.2em;
            font-weight: 500;
            display: block;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            line-height: 1.2ch;
            span {
                font-weight: 500;
                line-height: 1.2;
            }
        }
        p {
            line-height: 1.2;
            span {
                line-height: 1.2;
            }
        }
        p:last-of-type {
            grid-row: 3 / 4;
        }
        p:first-of-type {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        .log {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 80px 2ch 2ch;
            background-color: rgba(144, 144, 144, 0.1);
            border-radius: 15px;
            border: 1px solid var(--basis-color-dark);
            padding: 18px 0;
        }
        div.h {
            text-align: center;
            padding-top: 50px;
            h1 {
                text-transform: uppercase;
                font-weight: 400;
                color: var(--priority-dark-color);
                line-height: 1;
                p {
                    line-height: 1.2;
                    display: inline;
                }
            }
        }
    }
    div.tarif_levels {
        display: flex;
        align-content: flex-start;
        justify-content: center;
        gap: 0.7%;
    }
}


.pay_form  {
    label.label {
        border-radius: 15px;
        color: var(--basis-color-dark);
        border: 0;
        padding-bottom: 0;
        position: relative;
    }
    label.label:before {
        color: var(--basis-color-dark);
        content: "Укажите сумму пополнения в евро (₸)";
        position: absolute;
        top: 7px;
        left: 12px;
        z-index: 1;
        line-height: 1;
        font-size: 0.8em;
    }
    label.label:nth-of-type(2):before {
        content: "На ваш счет поступит (PXL)";
    }
    label.label:last-of-type:before {
        content: "Введите ваш email для получения чека";
    }
    fieldset.fieldset {
        min-width: 280px;
        width: 100%;
        max-width: 410px;
    }
    
    input.input {
        min-height: 55px;
        min-width: 280px;
        width: 100%;
        border: 0;
        
    }
}

.pay_form.form input[type='checkbox']{
        color: var(--priority-dark-color);
        border-radius: 7px;
    }
.pay_form.form button{
    color: #2f466a;
    font-weight: 500;
    max-height: 30px;
    border-radius: 8px;
}

@media screen and (max-width: 980px){
    .pay {
        .level{
            padding-bottom: 8px;
        }
        div.tarif_levels {
            flex-wrap: wrap;
        }
    }
}